<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Claim list</title>
    <!--//tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />

    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link th:href="@{/css/new1.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/new2.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/new3.css}" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
    <!-- //for bootstrap working -->

</head>
<body>
<!-- header -->
<div class="header" id="home">
    <div class="content white agile-info">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{./}">
                        <h1><span class="fa fa-signal" aria-hidden="true"></span> Hibernia-Sino <label> <span>Travel Insurance </span></label></h1>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li class=""><a th:href="@{./}" class="effect-3"><span>Home</span></a></li>
                            <li class="effect-3 active"><a th:href="@{claim_list}"><span >Claim center</span></a></li>
                            <li>
                                <!--图标按钮-->
                                <!--<button type="button" class="btn btn-default btn-lg" style="font-size: 13px" >-->
                                <!--<span class="glyphicon glyphicon-log-osut" aria-hidden="true"></span> Log out-->
                                <!--</button>-->
                                <a th:href="@{logout}">
                                    <button type="button" class="btn btn-default btn-lg" style="font-size: 13px" >
                                        <span>Log out</span>
                                    </button>
                                </a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="height: 38px">-->
                                    <!--<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>-->
                                    <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="height: 38px">
                                        <span>language</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a th:href="@{@{claim_list}+#{theOtherLanguage}}"><span th:text="#{changeLanguage}"></span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>


                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </div>
        </nav>
    </div>
</div>
<!-- banner -->
<div class="inner_page_agile">
    <h3>Claim list</h3>
    <p>View your claims</p>

</div>

<!--//banner -->
<!-- banner -->
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">
        <ul class="short_w3ls">
            <span><li><a th:href="@{./}"><span>Home</span></a><span>|</span></li></span>
            <span><li><span>Claim</span></li></span>
        </ul>
    </div>
</div>

<div class="col-md-12 according_inner_grids">
    <!--<h3 class="agile_heading two"><span>Order List:</span></h3>-->
    <a th:href="@{profile}">
        <input type="button" value="Profile" class="btn" style="margin-left: 1000px"/>
    </a>

    <br/>
    <br/>

    <a th:href="@{claim_form}">
        <input type="button" name="add_policy" id="add_policy" value="Add a claim" class="btn btn-warning" style="margin-left: 1000px"/>
    </a>

    <br/>
    <br/>

    <div class="form-horizontal center-block" style="background-color: #DCDCDC;width: 80%;padding-top: 30px;padding-bottom: 50px;border-radius: 10px;margin-bottom: 30px">
        <table id="item_table" style="border-style:none;color:black;padding-left:8%;width: 90%" class="table table-striped center-block">
            <tr>
                <th><span>Order Number</span></th>
                <th><span>Order Date</span></th>
                <th><span>Item ID</span></th>
                <th><span>Item Status</span></th>
                <th><span>Lost Date</span></th>
                <th style="color: blue;" >         </th>
            </tr>
            <div th:each="order:${orders}">
                <tr>
                    <td><span th:text="${order.ordernumber}"></span></td>
                    <td><span th:text="${order.orderdate}"></span></td>
                    <td><span th:text="${order.itemid}"></span></td>
                    <td><span th:text="${order.status}"></span></td>
                    <td><span th:text="${order.lostdate}"></span></td>
                    <td>
                        <form method="POST" th:action="@{fetch_message}">
                            <input type="hidden" th:id="role" th:name="role" th:value="${T(com.anonymous.HST1C.Role).CUSTOMER}"/>
                            <input type="hidden" th:id="ordernumber" th:name="ordernumber" th:value="${order.ordernumber}" />
                            <button type="submit" class="btn btn-success link-button" style="width: 130px;height: 28px;">View the details</button>
                        </form>
                    </td>
<!--                    <td><input type="button" name="View" class="btn btn-success" value="View the details" id="view" style="width: 130px;height: 28px;"/></td>-->
                </tr>
            </div>
        </table>
    </div>
    <input type="button" name="return" value="&lt;&lt; Home " class="btn btn-primary btn-lg center-block return" style="margin-top: 50px;width: 180px;height: 50px;" onclick="window.location.href='./'"/>
</div>

<!-- footer -->
<div class="footer_top_agileits">
    <div class="container">
        <div class="col-md-6 footer_grid">
            <h3><span>About Us</span></h3>
            <p><span>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
                eros.</span>
            </p>
        </div>
        <div class="col-md-6 footer_grid">
            <h3><span>Contact Info</span></h3>
            <ul class="address">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i><span style="margin:0px;display:inline;">Beijing-Dublin International College,Beijing,China.</span></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">Group5_Anonymous@gmail.com</a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+8613888888888</li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer_w3ls">
    <div class="container">
        <div class="footer_bottom">
            <div class="col-md-9 footer_bottom_grid">
                <div class="footer_bottom1">
                    <a th:href="@{./}">
                        <h2><span class="fa fa-signal" aria-hidden="true"></span> Hibernia-Sino <label><span>Travel Insurance</span></label></h2>
                    </a>
                    <p><span>Copyright &copy; Hibernia-Sino All rights reserved.</span></p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>

<!-- //footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- js -->
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

</body>
</html>