<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title th:text="#{home.title}"></title>
  </head>
  <body>
  <span th:text="#{home.welcome}"></span><br/>
  <form method="post" th:object="${loginForm}">
    <span th:text="#{loginForm.username}"></span>
    <input type="text" th:field="*{username}"/><br/>
    <span th:text="#{loginForm.password}"></span>
    <input type="password" th:field="*{password}"/><br/>
    <input type="submit" th:value="#{loginForm.login}"/>
  </form>
  <a th:href="@{register}"><span th:text="#{home.register}"></span></a><br/>
  <a th:href="@{'./'+#{theOtherLanguage}}"><span th:text="#{changeLanguage}"></span></a>
  </body>
</html>
