<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Title</title>
</head>
<body>
<h1>Your Profile</h1>
<span th:text="${userinfo.username}">username</span><br/>
<span th:text="${userinfo.gender}">gender</span><br />
<span th:text="${userinfo.phonenumber}">phone number</span><br/>
<span th:text="${userinfo.emailaddress}">email</span><br/>
<span th:text="${userinfo.birthdate}">birthday</span><br/>
<img th:src="${userIcon} == null ? _ : @{'data:image/png;base64,'+${userIcon}}" height="64" width="64"/><br/>
<a th:href="@{./}">Back</a>
<a th:href="@{claim_list}">claim_list</a>
</body>
</html>
