<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Profile</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />

    <link th:href="@{/css/font-awesome.css}" rel="stylesheet"/>
    <!-- //for bootstrap working -->
    <link href="http://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
          rel='stylesheet' type='text/css'/>

</head>
<body>
<!-- header -->
<div class="header" id="home">
    <div class="content white agile-info">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{./}">
                        <h1><span class="fa fa-signal" aria-hidden="true"></span> Hibernia-Sino <label><span> Travel Insurance</span> </label></h1>
                    </a>
                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li class=""><a th:href="@{./}" class="effect-3"><span>Home</span></a></li>
                            <li th:if="${role==T(com.anonymous.HST1C.Role).CUSTOMER}" class="effect-3"><a th:href="@{claim_list}"><span >Claim center</span></a></li>
                            <li th:if="${role==T(com.anonymous.HST1C.Role).STAFF}" class="effect-3"><a th:href="@{staff_list}"><span >Claim process center</span></a></li>
                            <li th:unless="${role==null}">
                                <!--图标按钮-->
                                <!--<button type="button" class="btn btn-default btn-lg" style="font-size: 13px" >-->
                                <!--<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out-->
                                <!--</button>-->
                                <button type="button" class="btn btn-default btn-lg" style="font-size: 13px" >
                                    <a th:href="@{logout}">
                                        <span>Log out</span>
                                    </a>
                                </button>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <!--图标按钮-->
                                    <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="height: 38px">-->
                                    <!--<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>-->
                                    <!--<span class="caret"></span>-->
                                    <!--</button>-->
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="height: 38px">
                                        <span>language</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a th:href="@{'./'+#{theOtherLanguage}}"><span th:text="#{changeLanguage}"></span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>

                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </div>
        </nav>
    </div>
</div>
<div class="inner_page_agile" style="margin-bottom: 40px">
    <h3><span>Personal Profile</span></h3>
    <p><span>View your personal profile</span></p>
</div>
<div class="form-horizontal center-block" style="background-color: #eeeded;width: 55%;padding-top: 30px;padding-bottom: 50px;border-radius: 20px;margin-bottom: 30px">

    <fieldset>
        <label class="col-sm-6 control-label" style="padding-top: 0px" ><span>Name :</span></label>
        <div class="col-sm-6 input-group">
            <span type="text" style="width: 300px" th:text="${userinfo.username}"></span>
            <!--<p class="help-block">It will be used when log in</p>-->
        </div>

        <label class="col-sm-6 control-label" style="padding-top: 0px" ><span>Photo :</span></label>
        <div class="col-sm-6 input-group">
            <img th:src="${userIcon} == null ? _ : @{'data:image/png;base64,'+${userIcon}}" alt="User photo" class="img-rounded" style="width: 100px;height: 100px"/>
        </div>

        <label class="col-sm-6 control-label" style="padding-top: 0px" ><span>Gender :</span></label>
        <div class="col-sm-6 input-group">
            <span type="text" style="width: 300px" th:text="${userinfo.gender}"></span>
            <!--<p class="help-block">It will be used when log in</p>-->
        </div>



        <label class="col-sm-6 control-label" style="padding-top: 0px"><span>Phone number :</span></label>
        <div class="col-sm-6 input-group">
            <span type="text" style="width: 300px" th:text="${userinfo.phonenumber}"></span>
        </div>

        <label class="col-sm-6 control-label" style="padding-top: 0px"><span>Email :</span></label>
        <div class="col-sm-6 input-group">
            <span type="text" style="width: 300px" th:text="${userinfo.emailaddress}"></span>
        </div>

        <label class="col-sm-6 control-label" style="padding-top: 0px" ><span>Date of birth :</span></label>
        <div class="col-sm-6 input-group">
            <span type="text" style="width: 300px" th:text="${userinfo.birthdate}"></span>
        </div>
    </fieldset>
</div>

<div class="col-sm-12 center-block ">
    <!-- Back Button -->
    <button class="btn btn-inverse" style="margin-left: 45px;margin-top: -70px;margin-bottom: 125px;width: 10%;height: 40px;font-size: 15px;"><a th:href="@{./}"><span>&lt;&lt; Back</span></a></button>
</div>

<div class="col-sm-12 center-block ">
    <!-- Back Button -->
    <button class="btn btn-inverse" style="margin-left:1050px;margin-top: -190px;margin-bottom: 125px;width: 10%;height: 40px;font-size: 15px;"><a th:href="@{claim_list}"><span>Claim list &gt;&gt;</span></a></button>
</div>


<!-- footer -->
<div class="footer_top_agileits" style="padding-top: 30px">
    <div class="container">
        <div class="col-md-6 footer_grid">
            <h3><span>About Us</span></h3>
            <p><span>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
                eros.</span>
            </p>
        </div>
        <div class="col-md-6 footer_grid">
            <h3><span>Contact Info</span></h3>
            <ul class="address">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i><span style="margin:0px;display:inline;">Beijing-Dublin International College,Beijing,China.</span></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">Group5_Anonymous@gmail.com</a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i>+8613888888888</li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="footer_w3ls">
    <div class="container">
        <div class="footer_bottom">
            <div class="col-md-9 footer_bottom_grid">
                <div class="footer_bottom1">
                    <a th:href="@{./}">
                        <h2><span class="fa fa-signal" aria-hidden="true"></span> Hibernia-Sino <label><span>Travel Insurance</span></label></h2>
                    </a>
                    <p><span>Copyright &copy; Hibernia-Sino All rights reserved.</span></p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>

<!-- //footer -->

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- js -->
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>

<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>

</html>