<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Title</title>
</head>
<body>
<a th:href="@{staff_list}"><span th:text="refresh"></span></a>
<ul>
    <li th:each="order : ${orders_processing}">
        <div>
            <span th:text="${order.ordernumber}   "></span>
            <span th:text="${order.orderdate}   "></span>
            <span th:text="${order.itemid}   "></span>
            <span th:text="${order.status}   "></span>
            <span th:text="${order.lostdate}  "></span>
            <a th:href="@{staff_handle+@{?(ordernumber=${order.ordernumber},act=approve)}}"><span th:text="approve"></span></a>
            <a th:href="@{staff_handle+@{?(ordernumber=${order.ordernumber},act=deny)}}"><span th:text="deny"></span></a>
            <ul th:if="${message_linked_ordernumber == order.ordernumber}">
                <li th:each="message : ${messages}">
                    <span th:text="${message.text}"></span>
                </li>
                <a th:href="@{staff_list}"><span th:text="close"></span></a>
            </ul>
            <form th:unless="${message_linked_ordernumber == order.ordernumber}" method="POST" th:action="@{fetch_message}">
                <input type="hidden" th:id="role" th:name="role" th:value="${T(com.anonymous.HST1C.Role).STAFF}"/>
                <input type="hidden" th:id="ordernumber" th:name="ordernumber" th:value="${order.ordernumber}" />
                <button type="submit" class="link-button">fetch_message</button>
            </form>
        </div>
    </li>
</ul>
<br/>
<br/>
done:<br/>
<ul>
    <li th:each="order : ${orders_done}">
        <div>
            <span th:text="${order.ordernumber}   "></span>
            <span th:text="${order.orderdate}   "></span>
            <span th:text="${order.itemid}   "></span>
            <span th:text="${order.status}   "></span>
            <span th:text="${order.lostdate}  "></span>
        </div>
    </li>
</ul>
<a th:href="@{profile}"><span th:text="profile"></span></a>
</body>
</html>