<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Title</title>
</head>
<body>
<ul>
    <li th:each="order : ${orders_processing}">
        <div>
            <span th:text="${order.ordernumber}   "></span>
            <span th:text="${order.orderdate}   "></span>
            <span th:text="${order.itemid}   "></span>
            <span th:text="${order.status}   "></span>
            <span th:text="${order.lostdate}  "></span>
        </div>
    </li>
</ul>
<br/>
<br/>
done:<br/>
<ul>
    <li th:each="order : ${orders_done}">
        <div>
            <span th:text="${order.ordernumber}   "></span>
            <span th:text="${order.orderdate}   "></span>
            <span th:text="${order.itemid}   "></span>
            <span th:text="${order.status}   "></span>
            <span th:text="${order.lostdate}  "></span>
        </div>
    </li>
</ul>
<a th:href="@{profile}"><span th:text="profile"></span></a>
</body>
</html>